// shows basic stats about the app

extends layout

block content
	div.container
		h1 Welcome to Admin
	
		h2 Users
		table.table.table-striped
			thead
				tr
					th Today
					th This week
					th This month
					th All time
			tbody
				tr
					td Today
					td This week
					td This month
					td total_users

		h2 Recommendations
		table.table.table-striped
			thead
				tr
					th Today
					th This week
					th This month
					th All time
			tbody
				tr
					td Today
					td This week
					td This month
					td total_users