// all javascript files go here

script.
	<script type="text/javascript">
		$(document).ready(function(){
		//Handles menu drop down
		$('.dropdown-menu').find('form').click(function (e) {
			e.stopPropagation();
		});
	});	</script>