// base layout for dashboard, similar to default-dropdown but with extra width

doctype html
html(ng-app)
	include ../includes/head

	div.container
		body.dropdown-index
			div.navbar.navbar-inverse.navbar-fixed-top
				div.container
					div.navbar-header
						a(href='/').navbar-brand #{appName}
					div.navbar-collapse
						// show music player here
	block content
	include ../includes/foot