extends layouts/default

block content
	if user != null
		h1 Welcome to Dashboard, #{user.username}
	else
		h1 Welcome to Dashboard, Guest

	ul
		li
			a(href="/profile") Profile
		li
			a(href="/logout") Logout