extends layouts/default

block content
	h1= title
	p Welcome to #{title}
	h2.
		Options
	ul
		li
			a(href="/userlist") User List
		if user !== null
			li
				a(href="/dashboard") Dashboard
			li
				a(href="/profile") Profile
			li
				a(href="/logout") Logout
		else
			li
				a(href="/signup") Sign Up
			li
				a(href="signin") Sign In