extends layout

block content
    h1= title
    form#formSignIn(name="signin", method="post", action="/signin")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputPassword(type="password", placeholder="password", name="userpassword")
        button#btnSubmit(type="submit") Login