extends ../layouts/default

block content
	h1 Sign Up

	if messages && messages.length
		for message in messages
			p #{message}

	form#formAddUser(name="adduser", method="post", action="/signup")
		input#inputUserName(type="text", placeholder="username", name="username")
		input#inputPassword(type="password", placeholder="password", name="userpassword")
		input#inputUserEmail(type="text", placeholder="email", name="useremail")
		button#btnSubmit(type="submit") Sign Up