extends ../layouts/default

//TODO add a lot of validation here

block content
	h1= title

	if messages && messages.length
		for message in messages
			p #{message}

	form#formSignIn(name="signin", method="post", action="/signin")
		input#inputUserName(type="text", placeholder="username", name="username")
		input#inputPassword(type="password", placeholder="password", name="userpassword")
		button#btnSubmit(type="submit") Login